<!-- RecognitionSwimmerStart.html  -->
							<!-- {SwimmerId} -->

		<tr class="{trStyle}>
			<td>
			<td colspan="2">
				<table id="SingleSwimmer" class="SingleSwimmerTable">
					<thead>
						<tr class="{SingleSwimmerRowClass}" id="{ChallengerID}-head">
							<th  class="SingleSwimmerHeadingLeft">
								<a href="" onclick="return pOnClickClass('{ChallengerID}')">{SwimmerName}</a></th>
								
								
							<th  class="SingleSwimmerHeadingTeam">Team: {LatestTeam}</th> 
								
								
								
							<th  class="SingleSwimmerHeadingMiddle">{SwimmerCount} open water swims</th>
							<th  class="SingleSwimmerHeadingRight">Total of {TotalDistance} miles</th>
						</tr>
					</thead>
					<tbody>
			

<!-- end of RecognitionSwimmerStart.html  -->